<header class="header">
  <div class="container navbar d-flex">
    <h1>
      <a href="#" class="logo">六角眼鏡</a>
    </h1>
    <ul class="nav d-flex">
      <li class="col-sm-6"><a class="light" href="#">系列鏡框</a></li>
      <li class="col-sm-6"><a class="light" href="#">門市據點</a></li>
      <li class="col-sm-6"><a class="light" href="#">部落格</a></li>
      <li class="col-sm-6"><a class="light" href="#">常見問題</a></li>
    </ul>
  </div>
</header>