/* header */
.header {
  background-color: #aa0601;
  .logo {
    background-image: url("../images/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 80px;
    height: 49px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 24px;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
    .nav {
      align-items: center;
      a {
        padding: 25px 32px;
      }
      li:hover {
        background-color: #650300;
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    .logo {
      margin-left: 24px;
    }
    .navbar {
      .nav {
        a {
          padding: 25px 30px;
        }
      }
    }
    .container {
      padding: 0;
    }
  }
}
@media (max-width: 576px) {
  .header {
    .logo {
      margin: 16px;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      .nav {
        width: 100%;
        flex-wrap: wrap;
        a {
          padding: 12px 0;
        }
      }
    }
  }
  .col-sm-6 {
    width: 50%;
    border: 1px white solid;
  }
}
