.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 390px) {
  .container {
    max-width: 390px;
  }
}

/* banner */
.banner {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center;
  height: 787px;
  .content {
    padding: 0 36px;
    flex-direction: column;
    width: 1320px;
    justify-content: center;
    align-items: flex-end;
    color: white;
    .buy {
      padding: 6px 12px;
      width: 104px;
      background-color: #aa0601;
    }
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../images/home-header-sm.png");
  }
}

@media (max-width: 576px) {
  .banner {
    height: 396px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
/* slogan */
.slogan {
  padding: 80px 24px;
  .content {
    margin: 0 auto;
    h2 {
      margin-bottom: 32px;
    }
    img {
      margin-bottom: 24px;
      width: 84px;
    }
    p {
      margin-bottom: 8px;
    }
    li {
      width: 50%;
      padding: 12px;
    }
  }
}

@media (max-width: 992px) {
  .slogan {
    .content {
      ul {
        flex-wrap: wrap;
      }
      li {
        width: 50%;
      }
    }
  }
}

@media (max-width: 576px) {
  .slogan {
    padding: 40px 24px;
    .content {
      .fz-12 {
        font-size: 24px;
      }
      h2 {
        margin-bottom: 16px;
      }
      li {
        width: 100%;
        padding: 16px 12px;
      }
    }
  }
}

/* classic series */
.classic {
  text-align: center;
  padding: 80px 0;
  .model-wrap {
    margin: 0 -12px;
  }
  .model {
    padding: 0 12px;
    font-style: italic;
    font-weight: 900;
  }
  img {
    margin-top: 48px;
    margin-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .classic {
    h2 {
      padding-bottom: 24px;
    }
    .model-wrap {
      flex-direction: column;
    }
    img {
      width: 336px;
      margin-top: 24px;
    }
  }
}
@media (max-width: 576px) {
  .classic {
    padding: 40px 0;
    h2 {
      font-size: 24px;
    }
    img {
      width: 348px;
      margin-top: 28px;
    }
  }
}

/* co-branding */
.co-branding {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  h2 {
    padding-bottom: 48px;
  }
  .column {
    p {
      padding: 8px 0;
      font-style: italic;
      border: 1px rgba(0, 0, 0, 0.1) solid;
    }
  }
}
@media (max-width: 992px) {
  .co-branding {
    background-image: url(../images/index-bg-md.png);
    .column {
      flex-direction: column;
      padding: 0 36px;
      .left-column {
        padding-bottom: 24px;
      }
    }
  }
}
@media (max-width: 576px) {
  .co-branding {
    background-image: url(../images/index-bg-sm.png);
    padding: 40px 0;
    h2 {
      font-size: 24px;
      padding-bottom: 24px;
    }
  }
}

/* costumer */
.costumer {
  padding: 80px 0;
  font-size: 16px;
  .card {
    margin: 12px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    .content {
      margin: 12px;
    }
    span {
      display: block;
      padding-bottom: 8px;
    }
    p {
      padding-bottom: 72px;
    }
    h3 {
      font-size: 14px;
      color: #707070;
    }
  }
}
@media (max-width: 992px) {
  .costumer {
    padding: 40px 0;
    .card-wrap {
      justify-content: center;
      flex-wrap: wrap;
      padding: 36px;
    }
    .card {
      width: 46.5%;
    }
  }
}
@media (max-width: 768px) {
  .costumer {
    padding: 40px 0;
    .card-wrap {
      margin-top: -24px;
    }
    h2 {
      font-size: 24px;
    }
    .card {
      width: auto;
    }
  }
}

/* contact us */
.contact {
  font-size: 16px;
  .container {
    width: 636px;
    padding: 80px 0;
  }
  h2 {
    padding-bottom: 48px;
  }
  p {
    font-size: 20px;
    padding-bottom: 24px;
  }
}
.form {
  .form-item {
    margin-bottom: 16px;
    input {
      margin-top: 8px;
      padding: 6px 12px 4px;
      font-size: 16px;
      width: 100%;
    }
  }
  input::placeholder {
    opacity: 0.2;
  }
  textarea {
    margin-top: 8px;
    margin-bottom: -12px;
    padding: 6px 12px 4px;
    font-size: 16px;
    width: 100%;
    height: 160px;
    border: 2px black solid;
    resize: none;
  }
  textarea::placeholder {
    opacity: 0.2;
  }
  .form-submit {
    margin-top: 48px;
    button {
      padding: 16px 176px;
    }
    button:hover {
      background-color: #650300;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}
@media (max-width: 767px) {
  .contact {
    .container {
      width: 576px;
    }
    h2 {
      padding-bottom: 24px;
    }
  }
  .form {
    p {
      font-size: 16px;
    }
    input::placeholder {
      opacity: 0.2;
    }
    .form-submit {
      button {
        padding: 16px 136px;
      }
    }
  }
}
@media (max-width: 576px) {
  .contact {
    .container {
      width: 348px;
      padding: 40px 0;
    }
    h2 {
      font-size: 24px;
      padding-bottom: 24px;
    }
  }
  .form {
    p {
      font-size: 16px;
    }
    input::placeholder {
      opacity: 0.2;
    }
    .form-submit {
      button {
        padding: 16px 140px;
      }
    }
  }
}
